@model TopicsViewModel
<h3 class="mt-3 mb-2" style="color:#454442 ">Please feel free to add any suggestions or addtional feedback here!</h3>
<partial name="_Notification" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<form method="post">
    <div class="pt-2 p-3 mb-2" style="background-color: #454442; border-radius: 0.44rem">
        <textarea id="Feedback" name="Feedback" rows="6" cols="126" placeholder=" additional feedback here..." class="mt-2 mb-2 form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px; background-color: #454442; color: #f19539">Submit</button>
</form>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function ($) {
        $('textarea').emojioneArea({
            pickerPosition: 'bottom'
        });
    });
</script>
