@model AuthWeb.Data.Topics
<partial name="_Notification" />
<br />
<form method="post">
    <div class="border p-3 mt-4" style="background-color: #454442">
        <div class="row pb-2">
            <h5>Are you sure you want to delete this topic?</h5>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <input asp-for="Topic" type="text" disabled class="form-control" required />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a class="btn btn-secondary form-control" asp-area="" asp-controller="Feedback" asp-action="Topics">Cancel</a>
            </div>
        </div>
    </div>
</form>