<partial name="_Notification" />
<h2 class="mt-4">Change Password</h2>
<div>
    <div>
        <form id="reset-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input name="newPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." required />
                <label class="form-label">New Password</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input name="confirmPassword" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." required />
                <label class="form-label">Confirm Password</label>
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-primary">Update password</button>
        </form>
    </div>
</div>